.centrado{
    display: flex;
    position: relative;
    justify-content: center;
  }

.menus {
  color: #c4c0c0;
   display: flex; 
   flex-direction: column;
   position: relative;
   align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%; 
    box-shadow: inset 0 0 10px #000000;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;

    border-radius: 7px;
    padding: 10px 20px 20px ;
    border: #c4c0c0 solid 1px;

  }

.imgMenus{
  display: flex;
  position: relative;
  justify-content: center;
  width: 70%;
  border:  #1e9aec 3px groove;

}

h5{
  text-align: center;
}

  @media (max-width: 440px) {
    .imgMenus{
      width: 98%;
      animation: 3s linear 0s infinite alternate ris ;
      font-size: small;
    }
  }
  @media (max-width: 440px) {
    .menus{
      width: 95%;
    }
  }

@keyframes ris {
  from {
    transform: perspective(100px) translateZ(3px)
  }
  to {
    transform: translateZ(1px);
  }
}

  @media (max-width: 440px) {
    h4 {
      font-size: medium;
    }
  }

  .texto {
    background: -webkit-linear-gradient(rgb(68 182 201 / 50%),rgb(59 80 80));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(15, 15, 14);  
  }

  .imag{
    display: flex; 
    position: fixed; 
     justify-content: center;
    width: 99%;
    z-index: -1;
    opacity: 0.1;
    margin-top: -5%;
  }


  .imgMenus:hover {
      text-decoration-line: none;
      -webkit-transform:scale(1.3);transform:scale(1.03);
    box-shadow: 0px 0px 5px 5px #1e9aec;
    -webkit-box-shadow: 0px 0px 5px 5px #1e9aec70;
    transition: transform 2s;
    
    }
  