.nav-item{
    z-index: 9999;
    border: 1px solid black;
    /* border-bottom: 2px solid;
    border-right: 2px solid; */
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 5px;
}

.navBtn{
    z-index: 9999;
    margin-left: auto;
    margin-right: 4%;
    display: flex;
    position: relative;
    align-items: center; 
}

.nav-link{
padding: 10px;
margin-Top: 0.5%;
}


.btn{
    border: solid 1px white;
    background-color: black;
    color: azure;
    margin-bottom: 1px;
}

    @media(max-width: 400px){ 
        .nav, .btn{    
          font-size: x-small;
          }
        }