.nos{
    padding: 4%;
    background-color: rgba(240, 248, 255, 0.568);
    color: black;
    margin: 3%;
    
}

@media(max-width: 550px){
.nos{
    font-size: x-small;
}}


@media(max-width: 550px){
    h1{
        font-size: x-large;
    }}

    
