
 .pres {
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 1rem;

  background-color: var(--card-bkg-color);
  color: white;

  padding: 0.25rem;
  margin: 5% 10%;
  width: auto;

  display: flex;
  flex-direction: column;
}


 .info{
 padding: 2%;
     
    }

    @media(max-width: 550px){
      .info, .cent {
        font-size: small
      }
    }

.name{
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;

}

.cent{
  display: flex;
  position: relative;
  justify-Content: center;
  text-align: center
}


