body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif, 'Always Smile Normal';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: aliceblue;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace, 'Always Smile Normal';
  }

  :root{
    --border-color: #457b9d;
    --card-bkg-color: #00000080;
    --btn-bkg-danger: #e63946;
    --btn-bkg-danger-hover: #7F1019;
  }
